$white        : #ffffff;

$blue         : #64C8F4;
$blue-link    : #0097CC;
$blue-btn     : #216A88;
$blue-tooltip : #417DB4;

$red-link     : #EA6153;

$red-btn      : #EA6153; //e74c3c dr senjoy

$green-btn    : #7ED321;

$light-grey   : #979797;
$grey-btn     : #979797;

$black        : #000000;
$soft-black   : #414042;


.color-black{
  color: $black;
}